body {
  margin: 0;
}

/*Title page*/
.indexContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.titleContainer{
  visibility: hidden;
  position: relative;
  border-top: 5px double white;
  border-bottom: 5px double white;
  min-width: 320px;
  min-height: 0px;
  text-align: center;
  font-size: 0px;
  color: white;
  text-shadow: -2px -1px 1px brown;
  animation: initialMotion 1s ease-in 3;
  z-index: 1;
  font-family: 'Crete Round', serif;
  transition: all 1s cubic-bezier(0.03, 0.63, 0.77, 1.21);
}


#titleName {
  padding: 0px 30px;
  font-size: 0px;
  transition: all 1s cubic-bezier(0.03, 0.63, 0.77, 1.21);
}

#myName{
  font-size: 0px;
  transition: 1s ease;
  margin:0;
  padding: 0;
}

@keyframes initialMotion{
  from {
    font-size: 0px;
  }
  to {
    font-size: 0px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }
}

.flip{
  transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
  transition: .9s;
}
#subName{
  -webkit-filter: blur(0px);
  filter: blur(0px);
  animation: smokeEffect 2s forwards;
  margin: 0;
  transition: 1s ease;
}

.smoke{
  -webkit-filter: blur(0px);
  filter: blur(0px);
  animation: smokeEffect 2s forwards;
  transition: 1s ease;
}

@keyframes smokeEffect{
  from {
    transform: rotate(45deg) translateY(-200px);
    -webkit-transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
  to {
    transform: rotate(0deg) translateY(0px);
    -webkit-transform: rotate(0deg) translateY(0px);
    opacity: 1;
    -webkit-filter: blur(1px);
    filter: blur(0px);
  }
}
/*Title page-background motion box*/
#boxMain{
  width: 100%;
  height: 100%;
  margin: 100px: auto;
  perspective: 800px;
  position: absolute;
  right: -400px;
  bottom: -500px;
  filter: blur(0px);
  animation: smokeEffect 2s forwards;
}

#boxDiv{
  width: 100%;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

#boxDiv div{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: white;
  font: 40px impact;
  text-align: center;
}
#front {
  transform: translateZ(75px);
  -webkit-transform: translateZ(75px);
  background: black;
}
#back {
  transform: rotateY(90deg) translateZ(175px);
  -webkit-transform: rotateY(90deg) translateZ(175px);
  background: #101010;
}
#left {
  transform: rotateY(0deg) translateX(-275px);
  -webkit-transform: rotateY(0deg) translateX(-275px);
  transform-origin: left;
  -webkit-transform-origin: left;
  background: black;
}
#right {
  transform: rotateY(0deg) translateX(425px);
  -webkit-transform: rotateY(0deg) translateX(425px);
  transform-origin: right;
  -webkit-transform-origin: right;
  background: #101010;
}
#top {
  transform: rotateX(-0deg) translateY(-275px);
  -webkit-transform: rotateX(-90deg) translateY(-275px);
  transform-origin: top;
  -webkit-transform-origin: top;
  background: black;
}
#bottom {
  transform: rotateX(-90deg) translateY(75px);
  -webkit-transform: rotateX(-90deg) translateY(75px);
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  background: #101010;
}

@keyframes rotate{
  from{
    transform: rotateY(0) rotateX(0) ;
    -webkit-transform: rotateY(0) rotateX(0) ;
  }
  to {
    transform: rotateY(360deg) rotateX(-360deg)  ;
    -webkit-transform: rotateY(360deg) rotateX(-360deg)  ;
  }
}
.titleButton{
  text-shadow: -2px -1px 1px #000066;
}
.titleButton, .skipButton{
  text-decoration: none;
  font-size: 0px;
  padding: 0 30px;
  border-radius: 20px;
  background-color: white;
  transition: all 1s ease;
  color: #0066cc;

}
.skipButton{
  bottom: 10%;
  font-size: 20px;
  position: absolute;
  right:45%;
  opacity: 0;
}
.titleButton:hover, .skipButton:hover {
  background-color: #4273d6;
}


/*Main Page*/
.mainContainer{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  position: relative;
}

.mainContainer > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 33.3333%;
  height: 100vh;
  opacity: 0;
  transition: all 1s linear;
  position: relative;
  text-align: center;
}


.mainContainer > * > a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  font-size: 0px;
  text-align: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  min-width: 20%;
  transition: all 1.0s cubic-bezier(1,-0.01, 0, 1.45);
}
.menuButton{
  position: absolute;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
  top: 3%;
  left: 3%;
  width: 60px;
  height: 30px;
  font-size: 25px;
  transition: all 0.3s ease;
  border: 3px ridge;
  border-radius: 10px;
  text-decoration: none;
  padding: 0 10px;
  z-index: 1;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.menuButton:hover{
  font-size: 30px;
  border: 5px solid #871938;
  padding: 5px;
  width: 90px;
}


.about{
  background: url("./img/aboutBackground.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  animation: backgroundEnter 2.5s linear;
  overflow: scroll;
}

.about > a:hover {
  animation: textEffect 1s ease-in infinite;

}
.projects {
  background: url("./img/projectBackground1.jpg")no-repeat center;
  background-size: cover;
  animation: backgroundEnter 3.5s linear;
  overflow: scroll;
}
.projects > a {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.projects > a:hover{
  animation: textEffect 1s ease-in infinite;

}
.contactMe{
  background: url("./img/contact.jpeg")no-repeat center;
  background-size: cover;
  animation: backgroundEnter 3.7s linear;
  overflow: scroll;
}
.contactMe > a:hover{
  animation: textEffect 1s ease-in infinite;
}

@keyframes textEffect{
  from {
    border-top: 5px double white;
    border-bottom: 5px double white;
  }
  to {
    border-top: 10px solid brown;
    border-bottom: 10px solid brown;
  }
}
@keyframes backgroundEnter{
  from {
    background-position: left;
  }
  to {
    background-position: center;
  }
}

/*about page content*/
#myPicWrapper{
  flex-direction:column;
  background-color: white;
  width: 0%;
  min-width: 0px;
  margin: auto;
}
#myPic{
  background: url("./img/jeongKoo.jpg")no-repeat top;
  background-size: cover;
  width: 75%;
  height: 50%;
}
#nameTitle{
  text-align: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  width: 80%;
  margin-top: 10px;
  font-size: 40px;
}
#nameTitle span{
  font-size: 30px;
  color: #ce1d1d;
  text-shadow: 1px 1px 1px black;
}
.aboutContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.brandStatement{
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 85%;
  height: 100%;;
}

/*project page content*/
.projectsContainer{
  margin: auto;
}
/*contact page*/
.contactContainer{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconWrapper{
  display: flex;
  flex-direction: row;
  
}

.link{
  font-size: 1.2em;
  font-weight: bold;
  line-height: 100px;
}
.link > span{
  /*visibility:collapse;*/
}

      .github {
        background: url("./img/icons/github.png") center repeat-x;
        background-size: cover;
        margin: 14px;
        width: 60px;
        height: 60px;
        opacity: 0.7;
      }
      .linkedin {
        background: url("./img/icons/linkedin.png") center repeat-x;
        background-size: cover;
        margin: 14px;
        width: 60px;
        height: 60px;
        opacity: 0.7
      }
      .email {
        background: url("./img/icons/email.png") center repeat-x;
        background-size: cover;
        margin: 14px;
        width: 60px;
        height: 60px;
        opacity: 0.7
      }
