body {
  margin: 0;
  transition: 1s ease;
}

/*Title page*/
.indexContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: scroll;
}

.titleContainer{
  position: relative;
  border-top: 5px double white;
  border-bottom: 5px double white;
  min-width: 320px;
  min-height: 0px;
  text-align: center;
  font-size: 0px;
  color: white;
  text-shadow: -2px -1px 1px brown;
  animation: initialMotion 1s ease-in 3;
  z-index: 1;
  font-family: 'Crete Round', serif;
}


#titleName {
    padding: 0px 30px;
    font-size: 0px;
}

#myName{
  font-size: 0px;
  transition: 1s ease;
  margin:0;
  padding: 0;
}

@keyframes initialMotion{
  from {
    font-size: 0px;
  }
  to {
    font-size: 0px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }
}

.flip{
  transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
  transition: .9s;
}
#subName{
  -webkit-filter: blur(0px);
  filter: blur(0px);
  animation: smokeEffect 2s forwards;
  margin: 0;
  transition: 1s ease;
}

.smoke{
  -webkit-filter: blur(0px);
  filter: blur(0px);
  animation: smokeEffect 2s forwards;
  transition: 1s ease;
}

@keyframes smokeEffect{
  from {
    transform: rotate(45deg) translateY(-200px);
    -webkit-transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
  to {
    transform: rotate(0deg) translateY(0px);
    -webkit-transform: rotate(0deg) translateY(0px);
    opacity: 1;
    -webkit-filter: blur(1px);
    filter: blur(0px);
  }
}
/*Title page-background motion box*/
#boxMain{
  width: 100%;
  height: 100%;
  margin: 100px: auto;
  perspective: 800px;
  position: absolute;
  right: -400px;
  bottom: -500px;
  filter: blur(0px);
  animation: smokeEffect 2s forwards;
}

#boxDiv{
  width: 100%;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

#boxDiv div{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: white;
  font: 40px impact;
  text-align: center;
}
#front {
  transform: translateZ(75px);
  -webkit-transform: translateZ(75px);
  background: black;
}
#back {
  transform: rotateY(90deg) translateZ(175px);
  -webkit-transform: rotateY(90deg) translateZ(175px);
  background: #101010;
}
#left {
  transform: rotateY(0deg) translateX(-275px);
  -webkit-transform: rotateY(0deg) translateX(-275px);
  transform-origin: left;
  -webkit-transform-origin: left;
  background: black;
}
#right {
  transform: rotateY(0deg) translateX(425px);
  -webkit-transform: rotateY(0deg) translateX(425px);
  transform-origin: right;
  -webkit-transform-origin: right;
  background: #101010;
}
#top {
  transform: rotateX(-0deg) translateY(-275px);
  -webkit-transform: rotateX(-90deg) translateY(-275px);
  transform-origin: top;
  -webkit-transform-origin: top;
  background: black;
}
#bottom {
  transform: rotateX(-90deg) translateY(75px);
  -webkit-transform: rotateX(-90deg) translateY(75px);
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  background: #101010;
}

@keyframes rotate{
  from{
    transform: rotateY(0) rotateX(0) ;
    -webkit-transform: rotateY(0) rotateX(0) ;
  }
  to {
    transform: rotateY(360deg) rotateX(-360deg)  ;
    -webkit-transform: rotateY(360deg) rotateX(-360deg)  ;
  }
}

.titleButton, .skipButton{
  text-decoration: none;
  font-size: 0px;
  padding: 0 30px;
  border-radius: 20px;
  background-color: white;
}
.skipButton{
  bottom: 50px;
  font-size: 20px;
  position: absolute;
  text-decoration: none;
  padding: 0 30px;
  border-radius: 20px;
  background-color: white;
}
.titleButton:hover{
  background-color: gold;
}


/*Main Page*/
.mainContainer{
  background-color: black;
  /*background: url("./img/background.jpg") no-repeat center center fixed;*/
  /*background-size: cover;*/
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  /*background-color: skyblue;*/
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: scroll;
}
.mainContainer > *{
  display: flex;
  flex-direction: row;
  width: 33.33%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: "all 2s linear"
}

.mainContainer > * > *{
  color: white;
  font-size: 0px;
  text-align: center;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  min-width: 30%;;
  transition: all 2.5s cubic-bezier(0,-0.1, 0, 1.06);
}


.about{
  /*background: url("./img/background1.jpg") no-repeat center center fixed;*/
  height: 100vh;

}

.about:hover {

}
.projectsContainer{
  /*background: url("./img/projectBackground.jpg") no-repeat center center fixed;*/

}
.projectsContainer:hover{

}
.contactMe{
  /*background-color: rgba(192,192,192,0.3);*/
}
.contactMe:hover{
  /*background-color: rgba(192,192,192,0.8);*/
}
